@media  (max-width: 1700px) {
    .contact-slider {
        &__img {
            width: 100%;
        }
    }
}
@media (max-width: 1366px) {

    .top {
        &__slider-info {
            min-width: 585px;
        }
        &__slider-img {
            margin-left: 0;
            height: 715px;
            max-width: 610px;
        }
        &__inner {
            &::after {
                height: 636px;
            }
        }
    }
    .collection {
        grid-template-columns: repeat(3, 1fr);
        &__images {
            width: 100%;
        }
    }
    .map {
        margin-top: 0;
    }
}

@media (max-width: 1200px) {
    .top {
        &__slider-info {
            min-width: 400px;
        }
        &__slider-title {
            font-size: 62px;
            line-height: 74px;
        }
        &__slider-img {
            height: 600px;
            max-width: 520px;
        }
        &__slider-text {
            max-width: 400px;
        }
        &__inner {
            &::after {
                height: 534px;
            }
        }
    }
    .contact-slider{
        &__img {
            height: 240px;
        }
    }
}

@media (max-width: 1040px) {
    .blog{
        &__inner {
            flex-wrap: wrap;
        }
        &__items {
            max-width: 100%;
        }
        &__item-img {
            width: 100%;
            max-width: 100%;
        }
    }
    .aside {
        width: 100%;
        margin-left: 0;
        order: -1;
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    .about {
        &__content {
            padding: 40px 0;
        }
        &__text {
            padding-left: 0;
        }
    }
    .footer{
        &__info {
            width: 380px;
        }
    }
    .gallery{
        &__items {
            grid-gap: 10px;
        }
        &__btn {
            margin: 0;
            padding: 6px 10px;
        }
    }
}
@media (max-width: 840px) {
    .top {
        &__slider-info {
            min-width: 300px;
        }
        &__inner {
            &::after {
                height: 481px;
            }
        }
        &__slider-title {
            font-size: 44px;
            line-height: 54px;
        }
        &__slider-img {
            height: 500px;
        }
        &__slider-text {
            max-width: 300px;
        }
    }
    .collection {
        grid-template-columns: repeat(2, 1fr);
    }
    .works-path {
        &__item {
            width: 300px;
        }
        &__item--production {
            margin-left: 50px;
        }
        &__item--measuring{
            margin-left: 100px;
        }
    }
}

@media (max-width: 768px) {
    .inspiration {
        &__images {
            display: none;
        }
    }
    .top {
        &__inner {
            &::after {
                height: 360px;
            }
        }
        &__slider-info {
            min-width: 250px;
        }
        &__slider-text {
            max-width: 250px;
        }
        &__slider-img {
            height: 400px;
        }
    }
    .header__btn {
        display: none;
    }
    .rightside-menu {
        display: none;
    }
    .menu__list-item {
        padding-left: 0;
        & + .menu__list-item {
            padding-right: 0;
        }
    }
    .logo {
        margin: 0;
    }

    .footer {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info {
            width: 100%;
            margin-bottom: 40px;
        }
        &__info-text {
            width: 100%;
        }
        &__menu {
            margin-left: auto;
            margin-right: auto;
        }
        &__social {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .decor {
        padding: 70px 0 55px;
    }

    .works-path {
        &__item--measuring{
            margin-left: 100px;
        }
    }
    .gallery {
        &__buttons {
            display: grid;
        }
        &__btn {
            margin-bottom: 10px;
        }
    }
    .about {
        &__prev {
            padding: 80px 0;
        }
    }
    .partners {
        &__items {
            column-gap: 5px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .map {
        iframe {
            height: 375px;
        }
    }
    .contact {
        &__box, &__form, .contact__social  {
            padding-left: 0;
        }
    }
    
}

@media (max-width: 650px) {
    .top {
        .slick-dots {
            margin-top: 20px;
        }
        &__inner {
            padding-top: 30px;
            padding-bottom: 30px;
            &::after {
                height: 80%;
            }
        }
        &__slider-item {
            .top__slider-img {
                display: none;
            }
        }
        &__slider-info {
            text-align: center;
            min-width: unset;
            margin-left: 0;
            padding: 0 10px;
        }
        &__slider-text {
            margin-bottom: 15px;
        }
        &__slider-title{
            &::after {
                right: 0;
                margin: 0 auto;
            }
        }
    }
    .works-path{
        &__items {
            // display: flex;
        }
        &__item {
            width: 100%;
        }
        &__items-box {
            border: none;
            flex-wrap: wrap;
        }
        &__items-box::before,
        &__item--production::after,
        &__item--measuring::before {
                display: none;
        }
        &__item--measuring {
            padding-bottom: 38px;
            padding-top: 0;
            margin-left: 0;
        }
        &__item--production {
            margin-left: 0;
            order: 1;
        }
    }
    .blog-box {
        &__items {
            display: block;
        }
        &__item {
            margin-bottom: 20px;
        }
        &__img-link {
            display: block;
        }
        &__img {
            width: 100%;
        }
    }
    .contact {
        &__form{
            display: block;
        }
        &__form-input {
            width: 100%;
        }
    }
    .slick-dots {
        li {
            margin: 0 5px;
        }
    }
}

@media (max-width: 540px) {
    .slick-dots {
        li {
            margin: 0 1px;
        }
    }
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header {
        max-height: 100px;
        padding: 15px 0;
        &__inner {
            padding-top: 15px;
            flex-wrap: wrap;
        }
        &__btn-menu {
            position: relative;
            z-index: 12;
            display: block;
            background-color: transparent;
            border: none;
            order: -1;
            cursor: pointer;
            span {
                display: block;
                background-color: black;
                border-radius: 4px;
                width: 37px;
                height: 3px;
                margin-bottom: 6px;
            }
        }
    }
    .menu {
        padding-right: 0;
        background-color: #fff;
        position: relative;
        width: 100vw;
        margin-right: -15px;
        margin-left: -15px;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all 0.5s ease-in;
        &--open {
            transform: translateY(30px);
        }
        &__list {
            display: block;
        }
        &__list-item {
            padding-right: 0;
        }
        &__list-link {
            display: block;
            padding: 15px 0;
            &--active {
                &::after {
                    display: none;
                }
            }
        }
    }
    .collection {
        grid-template-columns: repeat(1, 1fr);
    }
    %title-font{
        font-size: 28px;
        line-height: 36px;
    }
    .blog-box {
        &__item-title {
            font-size: 22px;
            line-height: 32px;
        }
    }
    .about {
        &__prev-title {
            font-size: 40px;
            line-height: 48px;
        }
    }
    .inspiration {
        &__item-text, &__num {
            font-size: 16px;
        }
    }
    .blog__category-title,
    .recent-post__title,
    .blog__tags-title {
        font-size: 16px;
        line-height: 23px;
    }
    .blog__item-title {
        font-size: 24px;
        line-height: 38px;
    }
    .blog__blockquote-author, .footer__info-title {
        font-size: 16px;
        line-height: 22px;
    }
    .works-path {
        &__item-title {
            font-size: 16px;
            line-height: 27px;
        }
    }
    .gallery {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item:first-child {
            grid-column: 1;
            grid-row: 1;
        }
        &.gallery-page {
            .gallery__item:nth-child(8) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }
    .blog__blockquote {
        padding: 10px 20px;
    }
    .blog-one__item {
        blockquote {
            padding: 0 20px;
        }
    }
    .blog-one {
        &__tags-title {
            font-size: 20px;
            line-height: 31px;
        }
        &__form-input {
            width: 100%;
        }
        &__comments-name, &__form-title {
            font-size: 16px;
            line-height: 23px;
        }
        &__comments-title {
            font-size: 20px;
            line-height: 31px;
        }
        &__links {
            padding: 30px 0;
        }
        &__link {
            font-size: 0;
        }
        &__comments-item {
            flex-wrap: wrap;
        }
        &__comments-avatar {
            width: 45px;
            height: 45px;
        }
        &__comments-name, &__comments-date {
            margin-left: 55px;
        }
        &__comments-info {
            margin-top: -46px;
        }
        &__comments-text {
            text-align: justify;
        }
        &__reply {
            margin-left: auto;
            
        }
    }
    
}

@media (max-width: 375px) {
    .footer {
        &__inner {
            justify-content: space-between;
        }
        &__social {
            margin-left: 0px;
        }
        &__form {
            display: block;
        }
        &__form-button {
            margin-left: 0;
            margin-top: 10px;
            width: 100%;
        }
    }
}